<ul class="nav">
    <li class="nav-header">Navigation</li>
    {% block leftMenu %}{% endblock leftMenu %}
    <!-- begin sidebar minify button -->
    <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
    <!-- end sidebar minify button -->
</ul>